.Signup_box {
  background: rgb(12,8,69);
  background: linear-gradient(180deg, rgba(12,8,69,1) 0%, rgba(55,52,85,1) 46%, rgba(0,0,0,1) 100%);
  object-fit: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
align-items: flex-start;
  width: 100%;
}
.flex_1 {

width: 30%;
  background-size: cover;
  height: max-content;

  align-items: center;
  margin: auto;

}
.forgot_margin {
  margin-top: 32px !important;
}
.flex_1 h5,
button {
  z-index: 200;
}
.signup h1 {
  font-size: x-large !important;
  margin-top: 17px;
}
.flex_1 h1 {
  margin-bottom: 5px;
  text-align: center;
color: #fff;
  font-size: xx-large;
  font-weight: 700;
}
form {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.already_account {
  z-index: 1;
  margin-top: 5px;
  font-size: small;
  color: white;
}
.already_account span {
  cursor: pointer;
  color: rgb(255, 0, 0);
}
.already_account span:hover {
  text-decoration: underline;
}
.flex_1 button {
  border: none;
  background: rgba(0, 0, 0, 0.164);
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  width: 150px;

  border-radius: 20px;
  border: 1px solid red;
  color: red;
  margin: auto;
  margin-top: 10px;
}
.flex_1 button:hover {
  box-shadow: 0 0 1rem 0 red;
}
.flex_1 input {
  padding: 12px;
  font-size: small;

  font-weight: 400;

  border: 2px solid red;
  background-color: #fff;
  color: #000;
  z-index: 200;

  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;

  overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.flex_1 input:focus {
  outline: none !important;
  border: 2px solid red;
}
.to_sign_up {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 2px;
}
.sign_in {
  margin-top: 17px;
  font-size: x-large !important;
  margin-bottom: 0 !important;
}
.forgot_h5 {
  color: red;
  text-align: center;
  margin: 15px;
  cursor: pointer;
}
.forgot_h5:hover {
  text-decoration: underline;
}
.sign_redirect {
  margin-top: 20px;
}
@media screen and (max-width: 960px) {
  .flex_1 {
    background-color: #00000000;
    padding: 30px;

    min-width: 300px;
    width: max-content;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}
